
/* Color Reseaux Sociaux */
.social a.fb { background-color: #3b5998!important; }
.social a.insta { background: url(../images/instagram.png) no-repeat center !important; }
.social a.twitter { background-color: #00acee!important; }
.social a.youtube { background-color: #c4302b!important; }
.social .trustpilot-widget a { background: #dadada url(../images/logo-trustpilot.svg) no-repeat center;background-size: 50%; font-size: 0px; }

.social a.fb:hover,
.social a.insta:hover,
.social a.twitter:hover,
.social a.youtube:hover { opacity: 0.8; } 


@media (max-width: 767px) {
    .lst-step .item .content { position: relative;padding-bottom: 50px; }
    .lst-step .item .content h2 { position: absolute;left: 0;right: 0;bottom: 5px;margin-bottom:0 !important;}

}